@import "syntax-variables";

atom-text-editor {
    background-color: @background;
    color           : @foreground;

    .gutter {
        background-color: @gutter-bg;
        color           : @gutter-fg;

        .line-number.cursor-line {
            background-color: @background;
            color           : @gutter-selected-fg;
        }

        .line-number.cursor-line-no-selection {
            background: @background;
            color     : @gutter-selected-fg;
        }
    }

    .wrap-guide {
        background-color: @gray;
    }

    .indent-guide {
        color: @gray;
    }

    .invisible-character {
        color: @gutter-bg;
    }
}

atom-text-editor.is-focused {
    .cursor {
        border-color: @cursor-fg;
    }

    .selection .region {
        background-color: @selection-fg;
    }

    .line-number.cursor-line-no-selection,
    .line.cursor-line {
        background-color: #232323;
    }
}

.bracket-matcher .region {
    position        : absolute;
    border          : 0 !important;
    background-color: lighten(@background, 30%);
}

.syntax--punctuation {
    &.syntax--definition {
        &.syntax--comment {
            color: @comment;
        }

        &.syntax--array,
        &.syntax--parameters,
        &.syntax--string,
        &.syntax--variable {
            color: @foreground;
        }

        &.syntax--heading,
        &.syntax--identity {
            color: @blue;
        }

        &.syntax--bold {
            font-weight: bold;
        }

        &.syntax--italic {
            font-style: italic;
        }
    }
}
