@import "syntax-variables";


atom-text-editor {
    background-color: @background;
    color: @foreground;

    .wrap-guide {
        background-color: @gray;
    }

    .indent-guide {
        color: @gray;
    }

    .invisible-character {
        color: @gutter-bg;
    }

    .cursor-line {
        background-color: @background;
        color: @gutter-selected-fg;
    }

    .gutter {
        background-color: @background;
        color: @gutter-fg;

        .line-number {
            .cursor-line {
                background-color: @background;
                color: @gutter-selected-fg;
            }

            .cursor-line-no-selection {
                background: @background;
                color: @gutter-selected-fg;
            }
        }
    }

    .fold-marker:after,
    .gutter .line-number.folded,
    .gutter .line-number:after {
        color: white;
        font-weight: bold;
    }

}

.syntax--keyword {
    color: @purple;

    &.syntax--control {
        &.syntax--statement {
            color: @orange;
            font-weight: bold;
        }

        &.syntax--elements {
            color: @light-gray;
        }
    }

    &.syntax--operator {
        &.syntax--comparison {
            color: @purple;
        }

        &.syntax--logical {
            font-weight: bold;
            color: @orange;
        }
    }

    &.syntax--other.syntax--special-method {
        color: @blue;
    }

    &.syntax--other.syntax--unit {
        color: @orange;
    }
}

atom-text-editor.is-focused {
    .cursor {
        border-color: @cursor-fg;
    }

    .selection .region {
        background-color: @selection-fg;
    }

    .line-number.cursor-line-no-selection,
    .line.cursor-line {
        background-color: #232323;
    }
}

.bracket-matcher .region {
    position: absolute;
    border: 0 !important;
    background-color: lighten(@background, 30%);
}

.syntax--punctuation {
    &.syntax--definition {
        &.syntax--comment {
            color: @comment;
        }

        &.syntax--array,
        &.syntax--parameters,
        &.syntax--string,
        &.syntax--variable {
            color: @foreground;
        }

        &.syntax--heading,
        &.syntax--identity {
            color: @blue;
        }

        &.syntax--bold {
            font-weight: bold;
        }

        &.syntax--italic {
            font-style: italic;
        }
    }
}