@import "syntax-variables";

.syntax--comment {
    color: @syntax-color-comment;

    &.syntax--documentation {
        color: @syntax-color-doc-comment;
    }
}

.syntax--string {
    color: @syntax-color-string;

    &.syntax--regexp {
        color: @syntax-color-regexp;
    }
}