@import "syntax-variables";

.syntax--comment {
    color: @comment;

    &.syntax--documentation {
        color: @green;
    }
}

.syntax--string {
    color: @green;

    &.syntax--regexp {
        color: @light-orange;
    }
}

.syntax--constant {
    color: @purple;

    &.syntax--numeric {
        color: @blue;
    }
}

.syntax--entity {
    &.syntax--punctuation {
        color: @foreground;
    }

    &.syntax--name.syntax--class,
    &.syntax--name.syntax--type.syntax--class {
        color: @light-orange;
    }

    &.syntax--name.syntax--tag {
        color: @light-orange;
    }

    &.syntax--other.syntax--attribute-name {
        color: @foreground;

        &.syntax--id {
            color: @light-orange;
        }
    }
}

.syntax--keyword {
    color      : @orange;
    font-weight: bold;

    &.syntax--operator {
        color: @foreground;
    }

    &.syntax--other.syntax--unit {
        color: @light-orange;
    }
}

.syntax--storage {
    color: @orange;
}

.syntax--support {
    &.syntax--class {
        color: @light-orange;
    }

    &.syntax--function {
        color: @light-orange;

        &.syntax--any-method {
            color: @blue;
        }
    }
}

.syntax--variable {
    color: @purple;
}

.syntax--invalid.syntax--illegal {
    background-color: @red;
    color           : @foreground;
}

.syntax--none {
    color: @foreground;
}

.syntax--markup {
    &.syntax--bold {
        color      : @orange;
        font-weight: bold;
    }

    &.syntax--changed {
        color: @purple;
    }

    &.syntax--deleted {
        color: @red;
    }

    &.syntax--italic {
        color     : @purple;
        font-style: italic;
    }

    &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
        color: @blue;
    }

    &.syntax--inserted {
        color: @green;
    }

    &.syntax--list {
        color: @red;
    }

    &.syntax--quote {
        color: @orange;
    }

    &.syntax--raw.syntax--inline {
        color: @green;
    }
}

.syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;

    &.syntax--heading {
        color: @green;
    }
}
