@foreground: #BBB;
@background: #090909;
@gutter-bg: #AAA;
@gutter-fg: #313335;
@gutter-selected-fg: #F1F1F1;
@invisible-character-color: rgba(241, 241, 241, 0.25);
@selection-fg: rgba(255, 255, 255, 0.25);

@green: #6A8759;
@blue: #6897BB;
@purple: #9876AA;
@light-orange: #FFC66D;
@comment: #808080;
@gray: #646665;