@foreground: #BBB;
@background: #090909;
@gutter-bg: #282828;
@gutter-fg: #F1F1F1;
@gutter-selected-fg: #F1F1F1;
@selection-fg: rgba(255, 255, 255, 0.25);

@green: #6A8759;
@blue: #6897BB;
@purple: #9876AA;
@light-orange: #FFC66D;
@comment: #808080;
@gray: #646665;
@orange: #CC7832;
@syntax-background-color: @background;
@red: #FF0000;
@cursor-fg: #FFF;
@cursor-bg: #2B2B2B;